<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Disney_App">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Disney_App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.UniverseDetailActivity"
            android:exported="false"
            android:label="Catalogue Disney"
            android:theme="@style/Theme.Disney_App" />

        <activity
            android:name=".ui.activities.FilmDetailActivity"
            android:exported="false"
            android:label="Détails du Film"
            android:theme="@style/Theme.Disney_App" />

        <activity
            android:name=".ui.activities.ProfileActivity"
            android:exported="false"
            android:label="Mon Profil Disney"
            android:theme="@style/Theme.Disney_App" />

        <activity
            android:name=".ui.activities.MyFilmsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false" />

    </application>
</manifest>